@charset "UTF-8";

/* Global Content Formatting and Styles */

body{
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	background-color: #000704;
}

.page{
	max-width: 980px;
	margin: 0px auto 0px auto;
	position: relative;
	background:#F2F2F2;
}




header h1 {
	color: #fff;
	padding-top: 100px; 
	font-size: 4em;
	font-family: 'Black Ops One', cursive; 
	font-weight: normal;  
	text-shadow: 0 1px 0 black;
	margin: 0 0 .5em 0;
	line-height: .1;
	
	
}

h2 {
	color: #000;
	font-size: 1.5em; 
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0 1px 0 black;
	line-height: .0;
	text-align: center;
	

}

h3{
	color: #fff;
	font-size: 1.6em; 
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0 1px 0 white;
	line-height: .0;
	text-align: center;
	color: black;
	
}

hr.top {
	margin: auto;
	height: 1px; 
	width: 980px;
	margin-top: 0px;
	opacity: 0.8;
	border-color: #505354;
	background-color: #505354;
} 

p {
	margin: 0 0 .75em 0; 
	color: #000;
	text-align: center;
	font-family: 'NTR', sans-serif;
	font-size: 1.1em;    
}

.blog p {
	margin-top: 10px;
}


a {
	color: white;
}

a:hover {
	color: #6b6f70;
}


a.CTA {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12 0px 0px;
	background: url(../images/cta_arrow.png) no-repeat right 0px;
}

a.CTA:hover {
	background-position: right -50px;
}



nav{
	
	text-align: center;
	margin-top: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	background-color: #36434C;
	font-family: 'Black Ops One', cursive;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 black;
	

}
nav a {
	color:white;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	font-weight: bold;
	font-size: 1.3em;
	

}

nav a.selected, nav a:hover {
	color: gray;
}

.player {
	display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 30px;
	height: 100px;
}

/*
*************
* =Blog
*************
*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;


}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	background-color: white;
}
.col:first-child { margin-left: 0px; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*two rows */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


.myButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #407546;
	display:inline-block;
	cursor:pointer;
	color:#969696;
	font-family:Arial;
	font-size:15px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-bottom: 20px;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

.genre p{
	text-align: center;
	background-color: red;
}

a.tooltip {
	outline:none; 
	text-decoration:none;
} 

a.tooltip strong {
	line-height:5px;
} 

a.tooltip:hover {
	text-decoration:none;
} 

a.tooltip span { 
	z-index:5;
	display:none; 
	padding:14px 20px; 
	margin-top:60px; 
	margin-left:-122px; 
	width:100px; 
	line-height:16px; 
} 

a.tooltip:hover span { 
	display:inline; 
	position:absolute; 
	border:2px 
	solid #FFF; 
	color:#EEE; 
	background:#333  
} 

.callout {
	z-index:20;
	position:absolute;
	border:0;
	top:-14px;
	left:60px;}  

a.tooltip span { 
	border-radius:1px; 
	box-shadow: 0px 0px 8px 4px #666; /*opacity: 0.8;*/ 
}

.icons{
	text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;

}




.clear-fix {
	clear: both;
	line-height: 1px;
}


footer {
	
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 5px;
	background-color: #36434c;
	margin: auto auto;
	width: 980px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}
	
/*
*************
* =Collective
*************
*/
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	
}

a 	{
	text-decoration: none;
}

img {
	max-width: 100%;
}

#djs {
	margin: 0;
	padding: 0;
	list-style: none;
}

#djs li {
	float: left;
	width: 45%;
	margin: 2.5%
}

/*
*************
* =listen
*************
*/

.listen {
	margin-top: 20px;

}

.wtb-ew-v1{
	text-align: center;
	margin-bottom: 10px;
}

/*
*************
* =Contact
*************
*/

.contact {
	margin-top: 20px;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 90px;
    text-align: right;
    color: black;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 9em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: vertical;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}



@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx)


